{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="main">
        <div class="navbar p-0">
            <img class="logo" src="../static/images/logo.png" alt="" height="60">

            <div class="menu">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="posts">POSTS</a></li>

                </ul>
            </div>

            <div class="logout">
                <a href="Login"> <button class="btn">Logout</button></a>
            </div>

        </div>

        <div class="row mt-5" id="home_page"></div>

        <h1 class="text-center bolder text-light" id="home_id">
        </h1>

    </div>
    <script type="application/javascript " src="{% static 'js/vendors/jquery.min.js' %} "></script>
    <script type="application/javascript " src="{% static 'js/vendors/bootstrap.min.js' %} ">
    </script>
    <script type="application/javascript " src="{% static 'js/vendors/bootstrap.bundle.min.js' %} ">
    </script>
    <script type="application/javascript " src="{% static 'js/vendors/popper.min.js'  %} "></script>
    <script type="application/javascript " src="{% static 'js/vendors/sweetalert2@10.js' %} "></script>
    <script type="application/javascript " src="{% static 'js/common_function.js'%} "></script>
    <script type="application/javascript " src="{% static 'js/common_function.js'%} "></script>
    <script type="application/javascript " src="{% static 'js/index.js'%} "></script>
</body>

</html>