<!-- inputapp/text_edit.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Form</title>

    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>

<body>
    <h1>Your Form</h1>
    <form id="yourForm">
        {{ form.media }} {{ form.title }} {{ form.content }} {{ form.image }} {{ form.summary }}
        <button type="button" onclick="submitForm()">Submit</button>
    </form>
    <p>hi <strong>Lakshmi </strong><span style="background-color:#2ecc71">hello</span></p>
    <script>
        CKEDITOR.replace('id_content');

        function submitForm() {
            var formData = new FormData(document.getElementById('yourForm'));
            var contentValue = CKEDITOR.instances.id_content.getData();
            formData.append('content', contentValue);

            fetch('', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    if (data.success) {
                        alert('Form submitted successfully');
                        window.location.reload(true);
                    } else {
                        alert('Form submission failed. Please check the errors.');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>

</html>